.acesso, .brasil{
	background: url(sprites.png) no-repeat;
}

.acesso{
	background-position: 0 -27px ;
	width: 161px;
	height: 24px;
}

.brasil{
	background-position: -35px 0;
	width: 108px;
	height: 24px;
}

