body{margin:0;padding:0}
#barra-brasil{position:relative;height:28px;width:100%;top:0;background:#000}
#barra-brasil .linha-inicio{position:absolute;height:1px;width:50%;background:#ffb400;bottom:0}
#barra-brasil .centro{position:relative;height:28px;margin:0 auto}
#barra-brasil .centro .linha-centro{position:absolute;height:1px;width:80%;background:#ffb400;bottom:0;float:left}
#barra-brasil a{text-indent:100%;white-space:nowrap;overflow:hidden;background:no-repeat bottom;display:block;height:24px;position:relative;float:right;background:url(../img/images.png);bottom:-4px;}
#barra-brasil a.brasil{width:108px;background-position:-35px 0;}
#barra-brasil a.acesso{width:161px;background-position:0 -27px;}
@mediamax-width 768px {
#barra-brasil .centro{min-width:320px;width:auto}
#barra-brasil .linha-inicio{display:none}
}
@mediamin-width 768px and max-width 992px {
#barra-brasil .centro{width:750px}
}
@mediamin-width 992px {
#barra-brasil .centro{width:970px}
}